@import url(slate.css);

body {
  background: black url(../images/kickass-logo.png) top center;
  background-size: contain;
  background-repeat: no-repeat;
  max-height: 400px;
  margin-top: 65%;
  padding: 20px;
}

#header_wrap {
  background: none !important
}

#main_content_wrap {
  background-color: rgba(234, 234, 234, 0.9)
}


#main_content_wrap h1,
#main_content_wrap h2,
#main_content_wrap h3,
#main_content_wrap p {
  color: black;
}

#main_content_wrap h2 {
  font-size: 18px;
}